/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

li {
  /* nav-mobile */
  font-family: Roboto Flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  /* h1-mobile */
  font-family: Ramabhadra;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-align: center;

  /* h2-mobile */
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 20px;
}

h3 {
  /* h3-mobile */
  font-family: Roboto Flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 15px;
}

h4 {
  color: var(--buttons, #000);

  /* h4 */
  font-family: Roboto;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.marquee {
  /* marquee-mobile */
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 20px;
}

.logo {
  text-align: center;
}

nav {
  padding-top: 40px;
  margin: 20px;
}

.concept {
  color: var(--buttons, #000);
  text-align: center;

  /* concept-p-mobile */
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

em {
  color: var(--buttons, #bebebe);

  /* concept-p-mobile */
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  /* buttons-mobile */
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: white;
  padding: 10px 20px 10px 20px;
  filter: drop-shadow (1px 5px 3px #949494);
}

.container-buttons {
  display: flex;
  justify-content: center;
}

.img-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter-container {
  background: #d9d9d9;
  color: #000;
}

.newsletter-text {
  /* newsletter-p-mobile */
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--buttons, #000);

  /* main p-mobile */
  font-family: Roboto Flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 30px;
}
