* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

a {
  font-family: Roboto Flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

@media (min-width: 600px) {
  nav {
    font-size: 22px;
  }
}

h2 {
  text-align: center;
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 20px;
}

@media (min-width: 600px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: Roboto Flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 15px;
}

h4 {
  font-family: Roboto;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.marquee {
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

@media (min-width: 600px) {
  .marquee {
    font-size: 30px;
  }
}

.logo {
  text-align: center;
  margin: 0px;
}

nav {
  padding-top: 40px;
  margin: 20px;
}

.concept {
  text-align: center;
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}

em {
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #7c7c7c;
}

.main-buttons {
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: white;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 4px 3px #949494;
}

.container-buttons {
  display: flex;
  justify-content: center;
}

.reservations {
  padding: 10px 33px 10px 33px;
  margin: 20px;
  margin-bottom: 30px;
}

.img-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .newsletter-container {
    background: #f3f1f1;
    color: #000;
  }
}

@media (min-width: 600px) {
  .newsletter-container {
    border-top: 2px solid black;
  }
}

@media (min-width: 600px) {
  .newsletter-border {
    border: 2px solid black;
    margin: 30px;
  }
}

.newsletter-text {
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 30px;
}

@media (min-width: 600px) {
  .newsletter-text {
    font-size: 20px;
  }
}

p {
  font-family: Roboto Flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.newsletter-title {
  margin-top: 30px;
}

@media (min-width: 600px) {
  .newsletter-title {
    max-width: 60%;
    margin-left: 30px;
  }
}

.img-header {
  margin-top: 10px;
}

.days {
  color: var(--buttons, #000);
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt-tartines,
.txt-cocktails {
  padding-bottom: 30px;
}

input {
  background: #f3f1f1;
  color: #000;
  margin: 20px;
  border-radius: 40px;
  padding: 10px 80px;
}

.champ-mail {
  color: var(--buttons, #000);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.icons {
  padding: 30px 10px 50px 10px;
  max-width: 70px;
}

.contact {
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.contact-text {
  padding-top: 50px;
}

@media (min-width: 600px) {
  .contact-container {
    border: 2px solid black;
  }
}

.contact-line {
  display: flex;
  align-items: center;
}

.contact-line div {
  width: 50%;
  color: var(--buttons, #000);
  font-family: Roboto Flex;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.adress,
.number {
  text-align: justify;
}

.subscription {
  background-color: #000;
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 40px;
  margin-bottom: 30px;
  padding: 10px 125px;
  text-align: right;
}

.more {
  text-align: right;
  text-decoration: underline #7c7c7c;
}
